#dashboard-layout {
  background-color: $parchment;
}

.main-note-container {
  width: 100%;
  height: auto;
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
}

.main-note-section,
.main-note-btns {
  width: 100%;
  height: 7.5em;
}

@media only screen and (min-width: 600px) {
  .main-note-section {
    width: 50%;
    height: 15em;
  }
}

.main-note-btns {
  height: 3em;
}

.current-note-section {
  width: 100%;
  height: 5em;
}

@media only screen and (min-width: 600px) {
  .current-note-section {
    width: 100%;
    height: 10em;
  }
}

.current-note-footer {
  height: auto;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-note-footer {
  .keywords-container,
  .votes-container {
    position: relative;
    right: 0;
    left: 0;
  }
}

.action-steps-container {
  height: auto;
}

.action-steps-heading {
  margin-block-end: 0.25em;
  font-weight: 500;
}