.main-note-container {
  width: 100%;
  height: 23em;
  border-radius: 1em;
  display: flex;
  flex-wrap: wrap;
}

.main-note-section,
.main-note-btns {
  width: 100%;
  height: 10em;
}

@media only screen and (min-width: 600px) {
  .main-note-section {
    width: 50%;
    height: 20em;
  }
}

.main-note-btns {
  height: 3em;
}

.current-note-container {
  padding: 0 1em;
}

.current-note-section {
  width: 100%;
  height: 5em;
}

@media only screen and (min-width: 600px) {
  .current-note-section {
    width: 100%;
    height: 10em;
  }
}

.current-note-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.current-note-footer {
  .keywords-container,
  .votes-container {
    position: relative;
    right: 0;
    left: 0;
  }
}
