.demo-container {
  height: 40%;
  padding: 1em 0;
}

#launch-form {
  height: 8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.launch-text {
  text-align: center;
  color: $primary-dark;
}

.process-list {
  ul {
    list-style-type: none;
  }
  li {
    margin-bottom: 0.5em;
  }
}