.nav-bar {
  position: relative;
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
}

.launch-btn {
  width: 5em;
  height: 2.5em;
  margin: 0 3% 0 auto;
}

.primary-main {
  height: calc(100% - 3em)
}

.welcome-header {
  width: 100%;
  height: 24em;
  border-bottom: 0.125em solid $copper;
  background-color: $primary-main;
}

.welcome-text {
  color: $white;
  padding: 1em;
    > h3 {
      font-size:2.5em;
    }
    > p {
      margin-block-start: 0;
      margin-block-end: 0.25em;
      font-size: 1.5em;
    }
    @media only screen and (min-width: 600px) {
      margin-left: 1em;
    }
}