.nav-bar {
  position: relative;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
}

.launch-btn {
  width: 80px;
  height: 40px;
  margin: 0 3% 0 auto;
}

.primary-main {
  height: calc(100% - 48px)
}

.welcome-header {
  width: 100%;
  height: 60%;
  border-bottom: 2px solid $copper;
  background-color: $primary-medium;
}